body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.content {
  padding-top: 1%;
  margin: 1%;
  min-height: 81.5vh;
  text-align: center;
}
